@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Raleway:100,200,300,500,700,600,400,800,900);
div.ti-lang {
  width: 100%;
  position: relative;
}

.ti-lang-form_toggle {
  float: right;
  display: inline-block;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px; 
  position: absolute;
  right: 65px;
  top: -68px;
  min-width: 13px;
  z-index: 999999999;
  width: 43px;
  height: 43px;
  background: #f78f20;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 10px;
}

.isStuck .ti-lang-form_toggle {
    top: -60px;
}

@media (max-width: 1199px) {
  .ti-lang-form_toggle {
    right: 25px;
  }
}

.ti-lang-form_toggle:focus {
  color: #ffffff;
}
.ti-lang-form_toggle:hover {
  color: #f78f20;
  background: #ffffff;
}
.ti-lang-form_toggle.active {
  background: #ffffff;
}

@media (min-width: 768px) and (max-width: 991px) {
  .ti-lang-form_toggle {
    top: -86px;
  }
}
@media (max-width: 767px) {
  .ti-lang-form_toggle {
    position: fixed;
    right: 42px;
    top: 6px;
  }
}



